.buttonStyle {
  width: 120px;
}
.detailText {
  font-size: 1.17em;
}
.imageBox {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.statusText {
  color:red;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

:global {
  .ant-col-8 > span {
    font-weight: 500;
    color: black;
  }
}
