<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:local="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
	android:background="@drawable/popup_bg"
	android:gravity="center"
    android:orientation="vertical">

	<TextView
        android:id="@+id/PopupTitle"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginTop="@dimen/large_margin"
        android:fontFamily="@font/sanfranciscodisplay_regular"
        android:textAlignment="center"
        android:textColor="@color/black"
        android:textSize="@dimen/popup_request_Title_Text_Size"
        local:MvxBind="Text PopupTitle"/>

	<ImageButton
        android:layout_width="@dimen/btn_normal_size"
        android:layout_height="@dimen/btn_normal_size"
        android:layout_alignParentRight="true"
        android:layout_margin="@dimen/large_margin"
        android:background="@null"
        android:scaleType="fitXY"
        android:src="@drawable/btn_delete_photo"
        android:tint="@color/gray" 
		local:MvxBind="Click CloseCommand"/>

	<giveandtake.droid.controls.CustomMvxCachedImageView
		android:id="@+id/imgTakerAvatar"
		android:layout_below="@+id/PopupTitle"
		android:layout_width="@dimen/image_avatar_size"
		android:layout_height="@dimen/image_avatar_size"
		android:layout_marginTop="@dimen/big_margin"
		android:layout_marginLeft="@dimen/huge_margin"
		android:layout_alignParentLeft="true"
		local:MvxBind="LoadingPlaceholderImagePath 'res:default_avatar';
						ErrorPlaceholderImagePath 'res:default_avatar';
						Transformations AvatarTransformations;
						ImageUrl TakerAvatarUrl;
						Click ShowTakerProfileCommand" />

	<giveandtake.droid.controls.CustomMvxCachedImageView
		android:id="@+id/imgPost"
		android:layout_below="@+id/PopupTitle"
		android:layout_width="@dimen/request_image_small_size"
		android:layout_height="@dimen/request_image_small_size"
		android:layout_marginTop="@dimen/big_margin"
		android:layout_marginRight="@dimen/huge_margin"
		android:layout_alignParentRight="true"
		local:MvxBind="LoadingPlaceholderImagePath 'res:default_post';
						ErrorPlaceholderImagePath 'res:default_post';
						Transformations PostTransformations;
						ImageUrl PostUrl;
						Click ShowPostDetailCommand;" />

	<TextView
        android:id="@+id/tvTakerFullName"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_alignTop="@id/imgTakerAvatar"
        android:layout_marginLeft="@dimen/margin_normal"
        android:layout_toRightOf="@id/imgTakerAvatar"
        android:textColor="@color/black"
        android:textSize="@dimen/MediumTextSize"
        local:MvxBind="Text TakerFullName;
						Click ShowTakerProfileCommand;" />

	<TextView
        android:id="@+id/tvRequestCreatedDate"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_alignLeft="@id/tvTakerFullName"
        android:layout_below="@+id/tvTakerFullName"
		android:textColor="@color/dark_gray"
        android:textSize="@dimen/SmallTextSize"
        local:MvxBind="Text RequestCreatedDate" />

	<giveandtake.droid.controls.ScrollViewWithMaxHeight
		android:id="@+id/svRequestMessage"
		android:layout_below="@+id/tvRequestCreatedDate"
		android:layout_width="match_parent"
		android:layout_height="wrap_content"
		android:layout_marginTop ="@dimen/large_margin"
		android:layout_marginBottom ="@dimen/large_margin"
		android:layout_marginLeft ="@dimen/default_margin"
		android:layout_marginRight ="@dimen/default_margin">
		<LinearLayout
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
			android:paddingLeft = "@dimen/default_margin"
			android:paddingRight = "@dimen/default_margin">
			<TextView
				android:layout_width="match_parent"
				android:layout_height="wrap_content"
				android:textSize = "@dimen/MediumTextSize"
				android:fontFamily= "@font/sanfranciscodisplay_light"
				android:textColor="@color/dark_gray"
				local:MvxBind="Text RequestMessage;" />
		</LinearLayout>

	</giveandtake.droid.controls.ScrollViewWithMaxHeight>

	<LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_below="@+id/svRequestMessage"
        android:layout_marginBottom="@dimen/default_margin">

		<Button
            android:layout_width="wrap_content"
            android:layout_height="@dimen/popup_request_button_height"
            android:layout_marginLeft="@dimen/large_margin"
            android:layout_marginRight="@dimen/default_margin"
            android:layout_weight="1"
            android:background="@drawable/cancel_button_bg"
            android:fontFamily="@font/sanfranciscodisplay_light"
            android:textAllCaps="false"
            android:textColor="@drawable/cancel_button_text"
            local:MvxBind="Text BtnRejectTitle; Click RejectCommand" />

		<Button
            android:layout_width="wrap_content"
            android:layout_height="@dimen/popup_request_button_height"
            android:layout_marginLeft="@dimen/default_margin"
            android:layout_marginRight="@dimen/large_margin"
            android:layout_weight="1"
            android:background="@drawable/submit_button_bg"
            android:fontFamily="@font/sanfranciscodisplay_light"
            android:textAllCaps="false"
            android:textColor="@color/white"
            local:MvxBind="Text BtnApproveTitle; Click ApproveCommand" />
	</LinearLayout>
</RelativeLayout>